name: test-and-code-convention

on:
  pull_request:
    branches:
      - master
      - production 
  push:
    branches:
      - master
      - production 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: make deps-dev
    - name: Run code convention
      run: make code-convention
    - name: Run tests
      run: make test

    
